*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
app/build/
.kotlin/
backend-chaslay-legacy/

.env
.env.*
!.env.production.example
!.env.example

node_modules/
**/node_modules/
